body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    background: lightblue;
    box-sizing: border-box;
    font-size: sans-serif;
}
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 598px;
    overflow: hidden;
    background: url(Пустыня.jpg) no-repeat center;
    background-size: cover;
}
.container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    /* transform: translate(-50%, -50%); */
    overflow: hidden;
    text-align: center;
    color: white;
}